# downloadable source code / assignment docs
*.zip*
conceptbutton.php
conceptbutton.css
conceptPage.php

# dotenv / security
.htaccess
.htpasswd

# hide server data
storage/*

# vscode configuration
.vscode
